
    .more-btn{
        border-bottom: 0.2px #806453 solid;
        padding:10px;
        display: flex;
        font-size: 30px;
    }
    
    .more-link {
        padding: 20px 25px 20px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #A29279;
        cursor: pointer;
        font-size: 25px;
    }


    .top {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 10px 10px;
        border-bottom: 1px #806453 solid;
        align-items: center;
    }


    .paymentList-btn{
        border-bottom: 0.2px #806453 solid;
        padding:10px;
        display: flex;
        font-size: 30px;
        display: flex;
        align-items:center ;
    }

    .font.delete {
        color: rgb(184, 1, 1);
    }

    .addCard {
        color: #806453;
        cursor: pointer;
    }

    .addCard:hover {
    color: #4e3b2e;
    text-decoration: none;
    }



    .icon-more {
        margin-right: 20px;


        .icon-more-payment {
            color: rgb(235, 128, 150) !important;
        }
    }






 .more {

     .link {
        display: flow-root;

    }
 }